{% extends 'base.html.twig' %}

{% block title %}Курсы
{% endblock %}

{% block body %}
	<style>
		body {
			font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
			background-color: #f8f8f8;
			color: #333;
		}
		h1 {
			font-size: 2.5em;
			font-weight: 600;
			margin: 40px 0;
		}
		.card {
			border: none;
			border-radius: 12px;
			box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
			background-color: #fff;
			overflow: hidden;
			transition: transform 0.3s;
		}
		.card:hover {
			transform: translateY(-10px);
		}
		.card-body {
			padding: 20px;
		}
		.card h5 {
			font-size: 1.75em;
			font-weight: 500;
		}
		.card p {
			font-size: 1em;
			line-height: 1.6;
			margin-bottom: 15px;
		}
		.btn {
			border-radius: 8px;
			padding: 10px 20px;
			font-size: 1em;
			font-weight: 500;
		}
		.btn-primary {
			background-color: #007bff;
			border-color: #007bff;
		}
		.btn-success {
			background-color: #28a745;
			border-color: #28a745;
		}
		.btn-info {
			background-color: #17a2b8;
			border-color: #17a2b8;
		}
		.btn-outline-secondary {
			color: #6c757d;
			border-color: #6c757d;
		}
		.logo-text {
			font-size: 220px;
			color: #34a853;
			font-weight: bold;
			animation: fadeIn 2s ease-in-out infinite alternate;
		}
		.tagline {
			display: block;
			font-size: 30px;
			color: #555;
			margin-top: 0;
			text-align: center;
			animation: fadeIn 3s ease-in-out infinite alternate;
		}
		.credit {
			display: block;
			font-size: 25px;
			color: #aaa;
			margin-top: 20px;
			text-align: center;
			animation: fadeIn 3s ease-in-out infinite alternate;
		}
		@keyframes fadeIn {
			from {
				opacity: 0;
			}
			to {
				opacity: 1;
			}
		}
		.container1 {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			height: 100vh;
		}
	</style>
	<div class="container1">
		<div class="logo">
			<span class="logo-text">StudyOn</span>
			<span class="tagline">Образование твоей мечты</span>
			<span class="credit">Design by Rolan</span>
		</div>
	</div>
	<div class="container">
		<h1>Курсы</h1>

		<div class="row">
			{% for course in courses %}
				<div class="col-md-6 col-lg-4">
					<div class="card mb-4">
						<div class="card-body">
							<h5>
								<a href="{{ path('app_course_show', {'code': course.code}) }}" style="text-decoration:none; color:black;">{{ course.title }}</a>
							</h5>
							<p>{{ course.description }}</p>

							{% set transaction = transactions[course.code] ?? null %}

							{% if transaction %}
								{% if transaction.type == 'payment' %}
									<p>Куплено</p>
									<a href="{{ path('app_course_show', {'code': course.code}) }}" class="btn btn-primary">Проходить курс</a>
								{% elseif transaction.type == 'rent' %}
									{% if transaction.expires_at is defined %}
										<p>Арендовано до:
											{{ transaction.expires_at|date('d-m-Y') }}</p>
									{% else %}
										<p>Арендовано, срок аренды неизвестен</p>
									{% endif %}
									<a href="{{ path('app_course_show', {'code': course.code}) }}" class="btn btn-primary">Проходить курс</a>
								{% endif %}
							{% else %}
								{% if course.type == 1 %}
									<p>Цена покупки:
										{{ course.price }}
										руб.</p>
									<form action="{{ path('app_course_buy', {'code': course.code}) }}" method="post" class="purchase-form">
										<input type="hidden" name="token" value="{{ token }}">
										<button type="submit" class="btn btn-success">Купить курс</button>
									</form>
								{% elseif course.type == 2 %}
									<p>Цена аренды:
										{{ course.price }}
										руб.</p>
									<form action="{{ path('app_course_rent', {'code': course.code}) }}" method="post" class="rent-form">
										<input type="hidden" name="token" value="{{ token }}">
										<button type="submit" class="btn btn-info">Арендовать</button>
									</form>
								{% else %}
									<a href="{{ path('app_course_show', {'code': course.code}) }}" class="btn btn-primary">Бесплатный доступ</a>
								{% endif %}
							{% endif %}
						</div>
					</div>
				</div>
			{% endfor %}
		</div>

		<hr>

		<div class="d-flex justify-content-center">
			<a href="{{ path('app_course_new') }}">
				<button type="button" class="btn btn-outline-secondary">Новый курс</button>
			</a>
		</div>
	</div>

	<script>
		document.addEventListener('DOMContentLoaded', function () {
const purchaseForms = document.querySelectorAll('.purchase-form');
const rentForms = document.querySelectorAll('.rent-form');

purchaseForms.forEach(function (form) {
form.addEventListener('submit', function (event) {
if (!confirm('Вы уверены, что хотите купить этот курс?')) {
event.preventDefault();
}
});
});

rentForms.forEach(function (form) {
form.addEventListener('submit', function (event) {
if (!confirm('Вы уверены, что хотите арендовать этот курс?')) {
event.preventDefault();
}
});
});
});
	</script>

{% endblock %}
