{% extends 'base.html.twig' %}

{% block title %}Курсы{% endblock %}

{% block body %}
<h1 style="margin-left: 20px;">Курсы</h1>

<div class="row">
    {% for course in courses %}
        <div class="col-md-6">
            <div class="card" style="margin: 20px;">
                <div class="card-body">
                    <h5>
                        <a href="{{ path('app_course_show', {'code': course.code}) }}" style="text-decoration:none; color:black;">{{ course.title }}</a>
                    </h5>
                    <p>{{ course.description }}</p>
                    <p>Тип: {{ course.type | capitalize }}</p>
                    
                    {% set transaction = transactions[course.code] ?? null %}
                    
                    {% if transaction %}
                        {% if transaction.type == 'payment' %}
                            <p>Куплено</p>
                            <a href="{{ path('app_course_show', {'code': course.code}) }}" class="btn btn-primary">Проходить курс</a>
                        {% elseif transaction.type == 'rent' %}
                            {% if transaction.expires_at is defined %}
                                <p>Арендовано до: {{ transaction.expires_at|date('d-m-Y') }}</p>
                            {% else %}
                                <p>Арендовано, срок аренды неизвестен</p>
                            {% endif %}
                            <a href="{{ path('app_course_show', {'code': course.code}) }}" class="btn btn-primary">Проходить курс</a>
                        {% endif %}
                    {% else %}
                        {% if course.type == 1 %}
                            <p>Цена покупки: {{ course.price }} руб.</p>
                            <form action="{{ path('app_course_buy', {'code': course.code}) }}" method="post">
                                <input type="hidden" name="token" value="{{ token }}">
                                <button type="submit" class="btn btn-success">Купить курс</button>
                            </form>
                        {% elseif course.type == 2 %}
                            <p>Цена аренды: {{ course.price }} руб.</p>
                            <form action="{{ path('app_course_rent', {'code': course.code}) }}" method="post">
                                <input type="hidden" name="token" value="{{ token }}">
                                <button type="submit" class="btn btn-info">Арендовать</button>
                            </form>
                        {% else %}
                            <a href="{{ path('app_course_show', {'code': course.code}) }}" class="btn btn-primary">Бесплатный доступ</a>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    {% endfor %}
</div>

<hr>

<a href="{{ path('app_course_new') }}" style="margin-left: 20px;">
    <button type="button" class="btn btn-outline-secondary">Новый курс</button>
</a>
{% endblock %}
