{% extends 'base.html.twig' %}

{% block title %}Курсы{% endblock %}

{% block body %}
    <h1 class="mt-2 ml-2">Курсы</h1>

    <div class="row">
        {% for course in courses %}
            <div class="col-md-6">
                <div class="card m-2">
                    <div class="card-body">
                        <h5>
                            <a href="{{ path('app_course_show', {'code': course.code}) }}" style="text-decoration:none; color:black;">{{ course.type }}</a>
                        </h5>
                        <p>{{ course.description|default('Описание отсутствует') }}</p>
                        <p>Цена: {{ course.price|default('Бесплатно') }}</p>
                        
                        <button class="btn btn-primary buy-course" data-course-code="{{ course.code }}">Купить</button>
                        
                    
                        {% if is_granted('ROLE_USER') %}
                        <a href="{{ path('app_course_show', {'code': course.code}) }}" class="btn btn-primary">Пройти</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <hr>
    {% if is_granted('ROLE_SUPER_ADMIN') %}
    <a href="{{ path('app_course_new') }}" class="ml-2">
        <button type="button" class="btn btn-outline-secondary">Новый курс</button>
    </a>
    {% endif %}
{% endblock %}

{% block javascripts %}
<script>
    document.addEventListener('DOMContentLoaded', () => {
        const userToken = "{{ userToken|e('js') }}"; 

        document.querySelectorAll('.buy-course').forEach(button => {
            button.addEventListener('click', () => {
                const courseCode = button.getAttribute('data-course-code');
                
                if (!userToken) {
                    alert('Пожалуйста, войдите в систему для совершения покупок.');
                    return;
                }

                fetch(`/api/v1/courses/${courseCode}/pay`, {
                    method: 'POST',
                    headers: {
                        'Authorization': userToken, 
                        'Content-Type': 'application/json'
                    },
                })
                .then(response => {
                    if (response.ok) {
                        return response.json();
                    } else if (response.status === 401) {
                        alert('Ваша сессия истекла. Пожалуйста, войдите в систему снова.');
                    } else {
                        throw new Error('Произошла ошибка при оплате курса');
                    }
                })
                .then(data => {
                    alert('Курс успешно оплачен');
                })
                .catch(error => {
                    console.error('Ошибка:', error);
                    alert(error.message);
                });
            });
        });
    });
</script>
{% endblock %}

