{% extends 'base.html.twig' %}

{% block title %}Курс {{ course.name }}{% endblock %}

{% block body %}
<h1>{{ course.name }}</h1>

<p>{{ course.description }}</p>

<p>Тип: {{ course.type | capitalize }}</p>

{% if course.type == 1 %}
    <p>Цена покупки: {{ course.price }} руб.</p>
{% elseif course.type == 2 %}
    <p>Цена аренды: {{ course.price }} руб.</p>
{% else %}
    <p>Бесплатный курс</p>
{% endif %}

<a href="{{ path('app_course_index') }}" class="btn btn-primary">Назад к списку курсов</a>
{% endblock %}
