{% extends 'base.html.twig' %}

{% block title %}Вход в систему{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="text-center mb-4">
                <h1 class="h3 mb-3 font-weight-normal mt-4">Пожалуйста, войдите в систему</h1>
            </div>

            <form method="post" class="form-signin">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                {% if app.user %}
                    <div class="mb-3">
                        Вы вошли как {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Выйти</a>
                    </div>
                {% endif %}

                <div class="form-group">
                    <label for="inputEmail">Email</label>
                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
                </div>

                <div class="form-group">
                    <label for="inputPassword">Пароль</label>
                    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
                </div>

                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                <button class="btn btn-lg btn-primary btn-block mt-2" type="submit">Войти</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
