{% extends 'base.html.twig' %}

{% block title %}{{lesson.name}}{% endblock %}

{% block body %}
    <h1 style="margin-left: 20px;">Редактирование: {{lesson.name}}</h1>

    {{ include('lesson/_form.html.twig', {'button_label': 'Сохранить'}) }}

    <hr>

    <a href="{{ path('app_course_show', { 'id': lesson.course.id }) }}" style="margin-left: 20px;"><button type="button" class="btn btn-outline-secondary">Назад к курсу</button></a>

    {{ include('lesson/_delete_form.html.twig') }}
{% endblock %}
