{% extends 'base.html.twig' %}

{% block title %}Уроки{% endblock %}

{% block body %}
    <h1>Уроки</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Название</th>
                <th>Контент</th>
                <th>Номер</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
        {% for lesson in lessons %}
            <tr>
                <td>{{ lesson.name }}</td>
                <td>{{ lesson.content }}</td>
                <td>{{ lesson.number }}</td>
                <td>
                    <a href="{{ path('app_lesson_show', {'id': lesson.id}) }}">Больше</a>
                    {% if is_granted('ROLE_SUPER_ADMIN') %}
                    <a href="{{ path('app_lesson_edit', {'id': lesson.id}) }}">Редактировать</a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if is_granted('ROLE_SUPER_ADMIN') %}
    <a href="{{ path('app_lesson_new') }}">Создать новый</a>
    {% endif %}
{% endblock %}
