{% extends 'base.html.twig' %}

{% block title %}
    {{ lesson.name }}
{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1 class="display-4">{{ lesson.name }}</h1>

        <h5 class="text-muted">Курс:
            <a href="{{ path('app_course_show', { 'code': lesson.course.code }) }}" class="text-decoration-none text-dark">{{ lesson.course.title }}</a>
        </h5>

        <hr class="my-4">

        <div class="d-flex justify-content-between mb-4">
            <a href="{{ path('app_course_show', { 'code': lesson.course.code }) }}">
                <button type="button" class="btn btn-outline-primary">Назад к курсу</button>
            </a>
            {% if is_granted('ROLE_SUPER_ADMIN') %}
                <div>
                    <a href="{{ path('app_lesson_edit', {'id': lesson.id}) }}" class="btn btn-outline-secondary me-2">Редактировать</a>
                    {{ include('lesson/_delete_form.html.twig') }}
                </div>
            {% endif %}
        </div>

        <div class="card shadow-sm">
            <div class="card-body">
                {{ lesson.content }}
            </div>
        </div>
    </div>
{% endblock %}
