{% extends 'base.html.twig' %}

{% block title %}{{ lesson.name }}{% endblock %}

{% block body %}
    <h1>{{ lesson.name }}</h1>

    <hr>

    <a href="{{ path('app_course_show', { 'id': lesson.course.id }) }}">К курсу</a>

    <a href="{{ path('app_lesson_edit', {'id': lesson.id}) }}">Редактировать</a>

    {{ include('lesson/_delete_form.html.twig') }}

    {{ lesson.content }}
{% endblock %}
